<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="hmm.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="hmm.Perspective"
            id="HMM.perspective"
            name="Main">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="HanMeiMei"
            class="hmm.View"
            id="HMM.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="HMM.view"
               minimized="false"
               moveable="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="HMM.schedule"
                  style="toggle">
            </command>
            <command
                  commandId="HMM.run"
                  style="push">
            </command>
            <command
                  commandId="HMM.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Automation">
            <command
                  commandId="HMM.automation.new"
                  style="push">
            </command>
            <command
                  commandId="HMM.automation.open"
                  style="push">
            </command>
            <command
                  commandId="HMM.automation.save"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About HanMeiMei"
                  style="push">
            </command>
            <command
                  commandId="HMM.help.readme"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:HMM.automation.editor?after=additions">
         <command
               commandId="hmm.automation.command.variable"
               icon="images/element_logic.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsIfElseLoop">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.print"
               icon="images/element_logic.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsIfElseLoop">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.set"
               icon="images/element_logic.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsIfElseLoop">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.if"
               icon="images/element_logic.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsIfElseLoop">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.else"
               icon="images/element_logic.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsIfElseLoop">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.loop"
               icon="images/element_logic.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsIfElseLoop">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.find"
               icon="images/element_web.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsIfElseLoop">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.navigate"
               icon="images/element_web.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsIfElseLoop">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.wait"
               icon="images/element_web.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsIfElseLoop">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.input"
               icon="images/element_web.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsFind">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.submit"
               icon="images/element_web.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsFind">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.click"
               icon="images/element_web.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsFind">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.text"
               icon="images/element_web.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsFind">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hmm.automation.command.select"
               icon="images/element_web.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.parentIsFind">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="HMM.separator1"
               visible="true">
         </separator>
         <command
               commandId="hmm.automation.command.delete"
               icon="images/delete.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hmm.automation.definition.delete">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="hmm.build.console.ConsoleFactory"
            label="Command Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="hmm.build.handlers.RunCommandsHandler"
            id="HMM.run"
            name="Run Commands">
      </command>
      <command
            defaultHandler="hmm.build.handlers.SaveHandler"
            id="HMM.save"
            name="Save Settings">
      </command>
      <command
            defaultHandler="hmm.build.handlers.ScheduleHandler"
            id="HMM.schedule"
            name="Schedule">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
            <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
               <parameter
                     name="default"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.NewHandler"
            id="HMM.automation.new"
            name="New">
      </command>
      <command
            defaultHandler="hmm.automation.handlers.OpenHandler"
            id="HMM.automation.open"
            name="Open">
      </command>
      <command
            defaultHandler="hmm.automation.handlers.SaveHandler"
            id="HMM.automation.save"
            name="Save">
      </command>
      <command
            defaultHandler="hmm.build.handlers.ReadMeHandler"
            id="HMM.help.readme"
            name="Simple Help">
      </command>
      <command
            defaultHandler="hmm.automation.handlers.DeleteHandler"
            id="hmm.automation.command.delete"
            name="Delete">
      </command>
      <command
            defaultHandler="hmm.automation.handlers.ClassHandler"
            id="hmm.automation.command.class"
            name="Class">
         <commandParameter
               id="hmm.automation.command.parameter.class"
               name="Class Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.ClickHandler"
            id="hmm.automation.command.click"
            name="Click">
         <commandParameter
               id="hmm.automation.command.parameter.click"
               name="Click Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.ElseHandler"
            id="hmm.automation.command.else"
            name="Else">
         <commandParameter
               id="hmm.automation.command.parameter.else"
               name="Else Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.FindHandler"
            id="hmm.automation.command.find"
            name="Find">
         <commandParameter
               id="hmm.automation.command.parameter.find"
               name="Find Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.IfHandler"
            id="hmm.automation.command.if"
            name="If">
         <commandParameter
               id="hmm.automation.command.parameter.if"
               name="If Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.InputHandler"
            id="hmm.automation.command.input"
            name="Input">
         <commandParameter
               id="hmm.automation.command.parameter.input"
               name="Input Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.LoopHandler"
            id="hmm.automation.command.loop"
            name="Loop">
         <commandParameter
               id="hmm.automation.command.parameter.loop"
               name="Loop Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.NavigateHandler"
            id="hmm.automation.command.navigate"
            name="Navigate">
         <commandParameter
               id="hmm.automation.command.parameter.navigate"
               name="Navigate Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.PrintHandler"
            id="hmm.automation.command.print"
            name="Print">
         <commandParameter
               id="hmm.automation.command.parameter.print"
               name="Print Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.SelectHandler"
            id="hmm.automation.command.select"
            name="Select">
         <commandParameter
               id="hmm.automation.command.parameter.select"
               name="Select Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.SetHandler"
            id="hmm.automation.command.set"
            name="Set">
         <commandParameter
               id="hmm.automation.command.parameter.set"
               name="Set Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.SubmitHandler"
            id="hmm.automation.command.submit"
            name="Submit">
         <commandParameter
               id="hmm.automation.command.parameter.submit"
               name="Submit Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.SwitchHandler"
            id="hmm.automation.command.switch"
            name="Switch">
         <commandParameter
               id="hmm.automation.command.parameter.switch"
               name="Switch Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.TextHandler"
            id="hmm.automation.command.text"
            name="Text">
         <commandParameter
               id="hmm.automation.command.parameter.text"
               name="Text Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.VariableHandler"
            id="hmm.automation.command.variable"
            name="Variable">
         <commandParameter
               id="hmm.automation.command.parameter.variable"
               name="Variable Command Parameter"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="hmm.automation.handlers.WaitHandler"
            id="hmm.automation.command.wait"
            name="Wait">
         <commandParameter
               id="hmm.automation.command.parameter.wait"
               name="Wait Command Parameter"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="hmm.build.console.ConsolePageParticipant"
            id="HMM.consolePageParticipant">
         <enablement></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hmm.automation.AutomationEditor"
            default="false"
            id="HMM.automation.editor"
            name="Automation Editor">
      </editor>
   </extension>
   <extension
         id="HMM"
         point="org.eclipse.core.runtime.products">
      <product
            application="HMM.application"
            name="HanMeiMei Automation System">
         <property
               name="appName"
               value="HanMeiMei Automation System">
         </property>
         <property
               name="windowImages"
               value="images/brand/16.png,images/brand/32.png,images/brand/48.png,images/brand/64.png,images/brand/128.png">
         </property>
         <property
               name="aboutImage"
               value="images/brand/about.png">
         </property>
         <property
               name="aboutText"
               value="天然ボケ change the world!&#x0A;&#x0A;This product is licensed under the Eclipse Public License (EPL).&#x0A;http://www.eclipse.org/org/documents/epl-v10.php&#x0A;&#x0A;All Rights Reserved.">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="hmm.automation.definition.parentIsFind">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="hmm.automation.models.Find">
                  <test
                        property="hmm.automation.isValid">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="hmm.automation.definition.delete">
         <with
               variable="activeMenuSelection">
            <count
                  value="+">
            </count>
         </with>
      </definition>
      <definition
            id="hmm.automation.definition.parentIsIfElseLoop">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false">
               <or>
                  <adapt
                        type="hmm.automation.models.If">
                     <test
                           property="hmm.automation.isValid">
                     </test>
                  </adapt>
                  <adapt
                        type="hmm.automation.models.Else">
                     <test
                           property="hmm.automation.isValid">
                     </test>
                  </adapt>
                  <adapt
                        type="hmm.automation.models.Loop">
                     <test
                           property="hmm.automation.isValid">
                     </test>
                  </adapt>
               </or>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="hmm.automation.propertyTester.IsValidPropertyTester"
            id="hmm.automation.propertyTester"
            namespace="hmm.automation"
            properties="isValid"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
